[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/ctrip.vim"]
	path = bundle/ctrip.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-colors-mango"]
	path = bundle/vim-colors-mango
	url = https://github.com/goatslacker/mango.vim.git
[submodule "bundle/vim-mustang"]
	path = bundle/vim-mustang
	url = https://github.com/marcus/vim-mustang.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
